

.list-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 209, 190, 0.2);
    min-height: 900px;
    color: rgb(22, 209, 190);
    border-radius: 24px;
    padding: 50px 50px;
    margin: 130px 50px 50px;
    box-shadow: 5px 5px 5px rgb(205, 205, 205);

}

.tasks-field {
}

button.delBtn {
    margin: 10px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    border: none;
    color:rgb(22, 209, 190);
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
}

button.delBtn:hover {
    margin: 10px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    background-color:  rgb(22, 209, 190);
    border: none;
    border-radius: 5px;
    color: white;
}

.rmvBtn {
    cursor: pointer;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border:  #d9d9d9 1px solid;
    padding: 10px 20px;
    cursor: pointer;
}

.rmvBtn:hover {
    cursor: pointer;
    background-color: rgb(22, 209, 190);
    color: white;
}


/* Positioning the header of list */
.input-area {
    display: flex;
    gap: 10px
  }


input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 2px solid currentColor;
    border-radius: 2px;
    accent-color: rgb(22, 209, 190);
}



.chceckBox {
    margin: 10px;
    padding: 0px;
    width: 12px;
    cursor: pointer;
}

.checkedChceckBox {
    margin: 10px;
    padding: 0px;
    width: 12px;
    cursor: pointer;
}



  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  /* Style the list items */
  .list-page ul li {
    min-width: 220px;
    cursor: pointer;
    padding: 12px 8px 12px 8px;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  /* Change background-color pointing on tasks */
  .list-page ul li:hover {
    background: rgba(22, 209, 190, 0.2);
    border-radius: 12px;
  }
  
  /* When clicked on, add a background color is darker and strike out text */
  .list-page ul li.checked {
    background: #d9d9d9;
    color: #fff;
    text-decoration: line-through;
    border-radius: 12px;
  }

  /* When clicked on, and mouse on it darken background color & line-through*/
  ul li.checked:hover {
    background: rgba(22, 209, 190, 0.7);
    color: #fff;
    text-decoration: line-through;
    border-radius: 12px;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  

  
  /* Style the header */
  .header {
    background-color: rgb(22, 209, 190);
    padding: 30px 80px;
    color: white;
    text-align: center;
    border-radius: 12px;
  }
  
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 2px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border-radius: 12px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border:  #d9d9d9 1px solid;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
  }
  
  .addBtn:hover {
    background-color: #bbb;
    border:  #bbb 1px solid;
    color: rgb(52, 52, 52);
  }

  /* ---------------------------------- test ---------------------------------- */


