<table class="my-8 py-4 bg-gray-50 rounded-xl">
  <thead>
    <tr>
      <th><strong class="py-1 inline-block w-36 rounded-xl w-36">My books:</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2" class="py-1 my-5">No books added to the collection yet.</td>
    </tr>
  </tbody>
</table>
