<!-- header -->

<header class="header-container">
    <p class="header-logo">
    <!-- 
    <a href="#home">BOOK STORE</a> -->
    <%= link_to "BOOK STORE", root_path %>
    <p>
    <ul id="listHeder">
        <li><a href="http://localhost:3000/#section-1">About Me</a></li>
        <li><a href="http://localhost:3000/#section-2">Lorem Ipsum</a></li>
        <li><a href="http://localhost:3000/#section-3">To-Do List</a></li>
    </ul>
</header>

<%= javascript_include_tag "header" %>