<!-- Here goes the main page body-->


<main>


<!-- section 1 --> 

<section id="section-1">
    <div class="section-1-text">
        <h2>ABOUT ME</h2>
        <ul>
            <li>Name: Maja</li>
            <li>City: Warsaw</li>
            <li>Gender: female</li>
        </ul>
    </div>
    <div class="photo">
        <%= image_tag("img-test", width: '300px', :class => "style_image") %>
    </div>
</section>



<!-- section 2 --> 
<section id="section-2">
    <div class='column-left'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, sapien at porta molestie, elit dolor porta purus, at volutpat nisl leo non libero. Etiam tempus nec nisi ut volutpat. Cras eu sem facilisis, feugiat ante auctor, pellentesque ligula. Maecenas et orci lectus. Suspendisse pellentesque feugiat blandit. Vestibulum ultrices nulla euismod risus gravida volutpat. Maecenas neque augue, aliquet eget est nec, vehicula congue eros. Curabitur lacinia pretium nunc, sit amet pellentesque turpis ultricies id. Fusce quis felis vulputate, rhoncus odio et, semper nibh. Etiam lacinia, arcu eu commodo euismod, quam est fringilla massa, vitae pulvinar sem odio a tellus. Vestibulum vitae dui fringilla, condimentum velit in, placerat odio. Cras dolor arcu, elementum in est vitae, lobortis gravida massa. Cras ac tellus id est pulvinar lobortis.</p>
        
        <p>Vivamus posuere nisi justo. Morbi quis arcu maximus risus facilisis tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed ut lorem at justo condimentum mollis. Nullam justo massa, lobortis ut consectetur vel, interdum at sapien. Morbi venenatis in massa in vulputate. Duis eu nulla lacinia, pharetra metus non, bibendum libero. Morbi leo dui, sagittis ut metus non, lobortis consectetur leo. In elementum, purus pellentesque efficitur placerat, ipsum felis varius tellus, ac rhoncus ante lorem sit amet massa. Nullam at placerat magna. Nunc hendrerit felis a nibh interdum eleifend. Duis sed pulvinar nisi. Ut in iaculis libero. Aenean vel velit non ipsum interdum venenatis. Integer cursus odio nec enim pulvinar sagittis.</p>
     
        <p>Fusce mattis blandit nibh non ultrices. Fusce sed lacinia elit, a condimentum odio. Praesent varius ultrices eros, condimentum ultricies arcu lobortis ut. Phasellus tincidunt tristique elementum. Nulla laoreet gravida est, sed iaculis ex ultrices id. Sed sollicitudin eu risus sed volutpat. Suspendisse potenti. Nulla ultrices ipsum eget commodo mollis.</p>

        <p>Curabitur id elementum dolor. Nunc ut gravida nibh. Duis ultricies risus at augue vehicula sollicitudin. Aenean tincidunt metus quis porta lacinia. Sed pharetra eros metus, in venenatis turpis pretium et. Integer justo neque, sagittis ut ante eget, dictum efficitur purus. Suspendisse potenti. Ut eu pellentesque enim. Quisque vel fermentum eros. Aliquam pharetra tempus vulputate.</p>
    
        <p>Morbi vulputate sodales metus sed maximus. Vivamus dapibus arcu mi, id auctor purus vulputate at. Sed eu ipsum convallis, commodo nunc ac, ultricies quam. Aenean ut sem nec odio feugiat sollicitudin at aliquet massa. Nulla tristique enim at libero porta, eu pharetra magna laoreet. Donec sit amet ipsum luctus, iaculis ligula nec, suscipit sem. In hendrerit elementum blandit. In hac habitasse platea dictumst. Donec vel dui odio. Aenean vitae ultricies augue. Duis gravida, tellus ac eleifend posuere, lectus sem dictum libero, at tempus lorem nisi a purus. Etiam mattis a sem et fermentum. Cras id massa sit amet leo venenatis molestie.</p>
    </div>
    <div class='column-right'>
        <h2>Lorem Ipsum</h2>
        <h6>"Cursus euismod quis viverra nibh. Faucibus pulvinar elementum integer enim neque volutpat."</h6>
    </div>
</section>

<!-- section 3 --> 
<section id="section-3">

    <div>
       <h2 class="goToToDo">Go to To-Do List<h2>
    </div>

</section>

</main>

