<%= stylesheet_link_tag 'home/_to-do-list' %>


<div class="list-page">

<!-- HTML -->
    <div class="the-to-do-list-fiels">
        <!-- title -->
        <div id="addToDo" class="header">
        <h3>My To Do List</h3>
            <div class="input-area">
                <input type="text" id="txt" placeholder="Add task here.">
                <button  type="submit" id="btn" class="addBtn">Add</button>
            </div>
        </div>
    
        <!-- the list -->
        <div class="tasks-field">
            <ul id="ul-of-tasks">
                <li id="task" class="unchecked first-child">
                    <input type="checkbox" class="chceckBox" id="chceckBox">
                    Water the plants
                    <button class="delBtn">x</button>
                </li>
                <li id="task" class="unchecked">
                    <input type="checkbox" class="chceckBox">
                    Pump up the wheels in the car
                    <button class="delBtn">x</button>
                </li>
                <li id="task" class="unchecked">
                    <input type="checkbox" class="chceckBox">
                    Check the oil in the car
                    <button class="delBtn">x</button>
                </li>
                <li id="task" class="unchecked">
                    <input type="checkbox" class="chceckBox">
                    Refill windshield washer fluid
                    <button class="delBtn">x</button>      
                </li>   
                <li id="task" class="unchecked last-child">
                    <input type="checkbox" class="chceckBox">
                    Take presents
                    <button class="delBtn">x</button>      
                </li>
            </ul>
            <br>
            <br>
        </div>
     
        <!-- remove btn -->
        <div class="rmv-btn-class">
            <button class="rmvBtn" type="button" onclick="removeAll()">Remove All</button>
        </div>
    </div>
</div>


<%= javascript_include_tag "todolist" %>