<%= stylesheet_link_tag 'home/_to-do-list' %>

<div class="list-page">

<!-- HTML -->
  <div class="the-to-do-list-fiels">
    
    <!-- title -->
    <div id="add-to-do" class="header">
    <h3>My To Do List</h3>
      <div class="input-area">
        <input type="text" id="txt" placeholder="Add task here.">
        <button  type="submit" id="btn" class="add-btn">Add</button>
      </div>
    </div>
    
    <!-- the list -->
    <div class="tasks-field">
      <ul id="ul-of-tasks">
        <li id="task" class="unchecked first-child">
          <input type="checkbox" class="check-box" id="check-box">
            Water the plants
          <button class="del-btn">x</button>
        </li>
        <li id="task" class="unchecked">
          <input type="checkbox" class="check-box">
            Pump up the wheels in the car
          <button class="del-btn">x</button>
        </li>
        <li id="task" class="unchecked">
          <input type="checkbox" class="check-box">
            Check the oil in the car
          <button class="del-btn">x</button>
        </li>
        <li id="task" class="unchecked">
          <input type="checkbox" class="check-box">
            Refill windshield washer fluid
          <button class="del-btn">x</button>      
        </li>   
        <li id="task" class="unchecked last-child">
          <input type="checkbox" class="check-box">
            Take presents
          <button class="del-btn">x</button>      
        </li>
      </ul>
    <br>
    <br>
    </div>
     
    <!-- remove btn -->
    <div class="rmv-btn-class">
      <button class="rmv-btn" type="button" onclick="removeAll()">Remove All</button>
    </div>
        
  </div>
</div>

<%= javascript_include_tag "todolist" %>