<div class="w-full m-auto">
  <div class="flex-wrap flex justify-between items-center mx-auto md:w-2/3 mb-12 bg-gray-100 text-black-500 px-3 font-medium rounded-3xl mt-44 py-32">
    <h1 class="ml-2 mt-2 font-thin text-gray-600 text-4xl">WELCOME TO <span class="text-gray-900 font-bold">BOOK STORE</span></h1>
    <% if logged_in? %>
      <div class="flex-wrap flex justify-between items-center">
        <%= link_to 'Create New User', new_user_path, class: "whitespace-nowrap active:bg-blue-800 hover:bg-blue-700 bg-blue-600 rounded-xl py-3 px-5 text-white font-medium ml-2 mt-2" %>
        <%= link_to "Profile", current_user, class: "active:bg-blue-800 hover:bg-blue-700 bg-blue-600 rounded-xl py-3 px-5 text-white block font-medium ml-2 mt-2" %>
      </div>
    <% else %>
      <div class="flex-wrap flex justify-between items-center">
        <%= link_to 'Log In', sessions_login_path, class: "whitespace-nowrap active:bg-blue-800 hover:bg-blue-700 bg-blue-600 rounded-xl py-3 px-5 text-white block font-medium mt-2" %>
        <%= link_to 'Sign Up', new_user_path, class: "whitespace-nowrap active:bg-blue-800 hover:bg-blue-700 bg-blue-600 rounded-xl py-3 px-5 text-white block font-medium ml-2 mt-2" %>
      </div>
    <% end %>
  </div>
</div>
