.list-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(209, 22, 22, 0.1);
    min-height: 900px;
    color: rgb(181, 40, 40);
    border-radius: 24px;
    padding: 50px 50px;
    margin: 130px 50px 50px;

}


#rmvBtn {
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    color: #555;
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border:  #d9d9d9 1px solid;
}

#rmvBtn:hover {
    background-color: #bbb;
    color: rgb(52, 52, 52);
}


/* Positioning the header of list */
.input-area {
    display: flex;
    gap: 10px
  }
/* -------------------------------------------- */

  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    border-bottom: 1px solid rgb(181, 40, 40);
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* White background-color on tasks */
  ul li:hover {
    background: rgb(255, 255, 255);
    border-radius: 12px;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: rgb(181, 40, 40, 0.5);
    color: #fff;
    text-decoration: line-through;
    border-radius: 12px;
  }

  /* When clicked on, and mouse on it darken background color */
  ul li.checked:hover {
    background: rgb(181, 40, 40, 0.8);
    color: #fff;
    text-decoration: line-through;
    border-radius: 12px;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: rgb(181, 40, 40);
    padding: 30px 80px;
    color: white;
    text-align: center;
    border-radius: 12px;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 2px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border-radius: 12px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border:  #d9d9d9 1px solid;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
  }
  
  .addBtn:hover {
    background-color: #bbb;
    border:  #bbb 1px solid;
    color: rgb(52, 52, 52);
  }
